#novoUsuario {
  text-align: right;
  margin: -1% 15px 0 0;
  font-size: 120%;
  font-family: 'Times New Roman', Times, serif;
  margin-top: -4%;
}

#lupa {
  display: none;
}

/*#novoUsuario p {
  margin: 0;
}*/

#novoAqui {
  text-align: right;
  font-size: 145%;
  margin: -1% 0 0 0;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

#clickAqui {
  color: #f2567b
}

#textoPrincipal {
  margin-top: 2%;
  text-align: center;
  font-size: 145%;
  font-family: 'Times New Roman', Times, serif;
}

#textoPrincipalf {
  margin-top: 3.4%;
  text-align: center;
  font-size: 145%;
  font-family: 'Times New Roman', Times, serif;
}


#input,
#input1 {
  text-align: center;
  margin: 10px;
  font-size: 55px;
  font-family: 'Times New Roman', Times, serif;
}

#setas img {
  width: 4%;
  height: 4%;
  margin: 1.5%;
  margin-top: 0%;
}

#icones img {
  width: 7%;
  height: 7%;
  margin: 0.55%;
  cursor: pointer;
}

#input-file {
  display: none;
}

#input1 {
  top: 50%;
  left: 50%;
}

#redirCadastro {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff6e5;
  border: 3px solid black;
  border-radius: 9px;
  padding: 2%;
  text-align: center;
  width: 50%;
  transform: translate(-50%, -50%);
  font-size: 145%;
  font-family: 'Times New Roman', Times, serif;
}

#redirCadastro a {
  text-decoration: none;
  text-align: center;
  color: black;
}

#redirCadastro a p {
  text-align: center;
  max-width: 20%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

#btnCadastrar {
  border: 3px solid black;
  border-radius: 9px;
  text-align: center;
  padding: 0.5%;
}

#logoCa {
  margin: -5% 0 1% 3.5%;
}

@media(max-width:1080px) {

  #logoCa {
    display: none;
  }

  #novoAqui{
    text-align: center;
    font-size: 145%;
    margin: 0 0 0 15%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -20%;
  }

  #clickAqui2{
    margin: 0 0 10% 0;
   
    
  }
  
  #setas img {
    width: 10%;
    height: 10%;
  }

  #icones img {
    width: 17%;
    height: 17%;
  }

  #redirCadastro {
    width: 70%;
    font-size: 20px;
  }

  @media(max-width:2048px) {

  }
  @media(max-hight:1366) {
    
  }
}

